!!!
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/jquery-1.7.1.min.js')
    //if lt IE 9
      script(type='text/javascript', src='/javascripts/excanvas.min.js')
    script(type='text/javascript', src='/javascripts/jquery.jqplot.min.js')
    script(type='text/javascript', src='/javascripts/socket.io.min.js')
    script(type='text/javascript', src='/javascripts/jquery-ui-1.8.16.custom.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.jqplot.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.8.16.custom.css')
  body!= body